*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/* Css foro font start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');

.poppins-medium{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
/* Css for font end */

/* Css for root */
:root{
    --main-color: #9b45c0;
    --black: #222;
    --white:#fff;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgba(0,0,0,0.7);
    --light-bg:#eee;
    --border:1 rem solid var(--black);
    --box-shadow:0 0.5rem 1rem rgba(0,0,0,.1);
    --box-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}
.hidden {
    display: none;
}

html{
    font-size: 65%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
section{
    padding: 5rem 10%;
}


@keyframes fadeIn {
    0%{
        transform: scale(0);
        opacity: 0;
    }
}

.btn{
    display: inline-block;
    background: var(--black);
    margin-top: 1rem;
    color: var(--white);
    font-size: 1.7rem;
    padding: 1rem 3rem;
    cursor: pointer;
    min-width: 11rem;
}

.btn:hover{
    background: var(--main-color);
}

.heading-title{
    margin-right: 30%;
    text-align: center;
    margin-bottom: 6rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--black);
}

.header{
    position: sticky;
    top:0; left:0 ; right:0;
    z-index:1000;
    background-color: #282b2b;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow:var(--box-shadow);
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--white);
}

.header .navbar a{
    color: #e2e7e6;
    font-size: 2rem;
    margin-left: 2rem;
    /* color: var(--black); */
}
.header .navbar a:hover{
    color: var(--main-color);
}

#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}


/* css for index.php home , slidder and about us starts */
.home{
    padding: 0;
}

/* Css for home slider */
.slider {
    height: 550px;
    /* width: 1000px; */
    overflow: hidden;
    margin: 0 auto;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
 } 
.slide {
    width: 100%;
}
#heading{
    display:block;
    text-align:center;
    font-size:2em;
    margin:10px 0px;
  
}

/* css for services blocks */
.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 3.5rem;
}

.services .box-container .box{
    padding: 3rem 2rem;
    text-align: center;
    background: var(--main-color);
    cursor: pointer;
}
.services .box-container .box:hover{
    background: lightblue;
}
.services .box-container .box img{
    height: 8rem;
}
.services .box-container .box h2{
    color: var(--white);
    font-size: 1.7rem;
    padding-top: 1rem;
}

.home-about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home-about .image{
    flex: 1 1 41rem;
}

.home-about .image img{
    width: 100%;
}

.home-about .content{
    flex: 1 1 41rem;
    padding: 3rem;
    background: var(--light-bg);
    height: 300px;
}

.home-about .content h3{
    font-size: 3rem;
    color: var(--black);
}

.home-about .content p{
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2;
    color: var(--black);
}

/* DropDown Section */
#servicesDropDown{
    margin: 34px;
    display: flex;
}
#servicesDropDown .boxDropDown{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 30px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}
.btn_dropDown{
    height: 30px;
    font-size: 13px;
    padding: 4px 8px;
    background-color: rgb(28, 44, 44);
    color: aliceblue;
}

#servicesDropDown .boxDropDown img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#servicesDropDown .boxDropDown p{
    font-family: 'Bree Serif', serif;

}
#servicesDropDown{
    height: 500px;
}



/* css for book page starts */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}
/* css for book page ends */

/* Css for book.php */
#book-bg-img{
    height: 500px;
    background-image: url("../book-img.jpg");
    background-size: cover;
    display: flex;
    align-items: end;
}

.booking .book-form{
    /* height: 600px; */
    /* padding:2rem; */
    background-color: var(--light-bg);

}

.booking .book-form .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.booking .book-form .flex .inputbox{
    height: 40px;
    flex:1 1 50rem;
    font-size: 23px;
    font-weight: 700;
}

.heading-title1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    padding-left: 35%;
}

.btn{
    width: 10%;
    background-color: var(--black);
    color: var(--white);
}


/* Footer Css starts */
#foot1{
    height: 300px;
    background-color: #0f1111;
    color: #e2e7e6;
    display: flex;
    justify-content: left;
}
#link1{
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 250px;
}
#link2{
    margin-top: 80px;
}
#link3{
    margin-top: 60px;
    margin-left: 100px;
}
#t2,#t3,#t4,#t5,#t6,#t7,#t8,#t1,#t9,#c2,#c3,#c4,#c5{
    margin-top: 20px;
    font-size: medium;
}
#t1,#c1{
    font-size:larger;
    font-weight: bolder;
}
#c2,#c3,#c4,#c5,#c1{
    font-size: large;
    /* font-weight: bold; */
}
/* Footer Css ends */


/*@media (max-width:1200px){                           This is not working
    section{
        padding:3rem 5%;
    }
}
@media (max-width:991px){
    html {
        font-size: 55%;
    }
 
    section{
        padding:3rem 2rem;
    }
}

 @media (max-width:768px){

    #menu-btn{
        display:inline-block;
        transition: .2s linear;
    }
    #menu-btn.fa-times{
        transform: rotate(180deg);
    }
    .header .navbar{
         position:absolute;
         top:99%;
         left:0;
         right:0;
         background-color: var(--white);
         border-top: var(--border);
         padding: 2rem;
    }

    .header .navbar.active{
        clip-path: polygon(0 0,100%  0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display:block;
        margin: 2rem;
        text-align: center;
    }
}

@media (max-width:450px){
    html {
        font-size: 50%;
    }
} */